<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\BorrowingStaff[]|\Cake\Collection\CollectionInterface $borrowingStaff
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Borrowing Staff'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Equiptment'), ['controller' => 'Equiptment', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Equiptment'), ['controller' => 'Equiptment', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="borrowingStaff index large-9 medium-8 columns content">
    <h3><?= __('Borrowing Staff') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('equipt_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('status') ?></th>
                <th scope="col"><?= $this->Paginator->sort('date') ?></th>
                <th scope="col"><?= $this->Paginator->sort('retrn') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($borrowingStaff as $borrowingStaff): ?>
            <tr>
                <td><?= h($borrowingStaff->id) ?></td>
                <td><?= $borrowingStaff->has('equiptment') ? $this->Html->link($borrowingStaff->equiptment->name, ['controller' => 'Equiptment', 'action' => 'view', $borrowingStaff->equiptment->id]) : '' ?></td>
                <td><?= h($borrowingStaff->status) ?></td>
                <td><?= h($borrowingStaff->date) ?></td>
                <td><?= h($borrowingStaff->retrn) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $borrowingStaff->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $borrowingStaff->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $borrowingStaff->id], ['confirm' => __('Are you sure you want to delete # {0}?', $borrowingStaff->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
