<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\BorrowStud[]|\Cake\Collection\CollectionInterface $borrowStud
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Borrow Stud'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Student'), ['controller' => 'Student', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Student'), ['controller' => 'Student', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="borrowStud index large-9 medium-8 columns content">
    <h3><?= __('Borrow Stud') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('date') ?></th>
                <th scope="col"><?= $this->Paginator->sort('student_id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($borrowStud as $borrowStud): ?>
            <tr>
                <td><?= h($borrowStud->id) ?></td>
                <td><?= h($borrowStud->date) ?></td>
                <td><?= $borrowStud->has('student') ? $this->Html->link($borrowStud->student->name, ['controller' => 'Student', 'action' => 'view', $borrowStud->student->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $borrowStud->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $borrowStud->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $borrowStud->id], ['confirm' => __('Are you sure you want to delete # {0}?', $borrowStud->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
