<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\BorrowStaff[]|\Cake\Collection\CollectionInterface $borrowStaff
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Borrow Staff'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Staff'), ['controller' => 'Staff', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Staff'), ['controller' => 'Staff', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="borrowStaff index large-9 medium-8 columns content">
    <h3><?= __('Borrow Staff') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('date') ?></th>
                <th scope="col"><?= $this->Paginator->sort('staff_id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($borrowStaff as $borrowStaff): ?>
            <tr>
                <td><?= h($borrowStaff->id) ?></td>
                <td><?= h($borrowStaff->date) ?></td>
                <td><?= $borrowStaff->has('staff') ? $this->Html->link($borrowStaff->staff->name, ['controller' => 'Staff', 'action' => 'view', $borrowStaff->staff->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $borrowStaff->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $borrowStaff->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $borrowStaff->id], ['confirm' => __('Are you sure you want to delete # {0}?', $borrowStaff->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
